{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-md-6">
      <!-- Destination Name and Details -->
      <h1 class="mb-0">{{ destination.name }}</h1>
      <p class="text-muted">Popular Destination</p>
    </div>

    <div class="col-md-6 text-end">
      <!-- Exchange Rate -->
      <p class="mb-1">1 AUD equals</p>
      <h2 id="exchange-rate" class="text-dark">0.62 {{ destination.currency }}</h2>
    </div>
  </div>

  <!-- Destination Details Section -->
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body d-flex align-items-start">
          <img class="img-fluid me-4" src="{{ destination.image }}" alt="{{ destination.name }}"
            style="max-width: 300px;">
          <div>
            <small class="text-muted font-weight-bold">Stay 2 nights</small>
            <h5 class="mt-2">{{ destination.name }}</h5>
            <p>{{ destination.description }}</p>
            <a href="#" class="btn btn-custom">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <hr>
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Comments</h2>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <!-- Comment Form -->
      {{ render_form(form,"/destinations/{0}/comment".format(destination.id)) }}
    </div>
  </div>

  <!-- Display Comments -->
  {% for comment in destination.comments %}
  <div class="row mb-3">
    <div class="col-md-12">
      <b>{{ comment.user.name }}</b>
      <!-- Extract the first 10 characters to display only the date -->
      <span class="text-muted small">{{comment.created_at.strftime('%Y-%m-%d %I:%M %p') }}</span>
      <p>{{ comment.text }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}