/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #1c1c1e;
    padding: 15px 0;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a9a9a9 !important;
}

.hero {
    background-size: cover;
    background-image: url('../image/mountains.jpg');
    /* Updated relative path */
    /* Updated path */
    background-position: center;
    background-repeat: no-repeat;
    height: 450px !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}



.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.search-form input {
    max-width: 600px;
    padding: 10px;
}

.search-form button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.search-form button:hover {
    background-color: #000;
    color: #fff;
}

/* Featured Travel Deals */
.container h2 {
    font-weight: bold;
    margin-bottom: 30px;
    color: #1c1c1e;
}

.card {
    transition: transform 0.2s;
    background-color: #f8f8f8;
}

.card:hover {
    transform: scale(1.03);
}

.btn-custom {
    background-color: #1c1c1e;
    color: white;
    border: none;
    padding: 10px 20px;
}

.btn-custom:hover {
    background-color: #333;
    color: white;
}

/* Footer */
.footer {
    background-color: #1c1c1e;
    color: white;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}